body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: Arial;
}

.navBar {
  background-color: #FFDC00;
  width: 100%;
  height: 100px;
  padding: 20px;
  display: flex;
}

.navBarLogo {
  display: flex;
  height: 100px;
  width: 40%;
}

.navBarMenu {
  display: flex;
  height: 100px;
  width: 60%;
  align-items: center;
  justify-content: space-evenly;
}

.linkText {
  font-size: large;
}

.linkText:hover {
  text-decoration: underline;
  cursor: pointer;
}

.imgLink {
  display: flex;
}
