body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: Arial;
  background-color: #212121;
  color: #fff;
}

.navBar {
  background-color: #000;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.navBarContent {
  width: 85%;
  display: flex;
}

.navBarLogo {
  display: flex;
  height: 100px;
  width: 40%;
}

.navBarMenu {
  display: flex;
  height: 100px;
  width: 60%;
  align-items: center;
  justify-content: space-between;
}

.linkText {
  font-size: large;
  color: #fff;
}

.linkText:hover {
  text-decoration: underline;
  cursor: pointer;
}

.imgLink {
  display: flex;
}

.citeLink {
  font-size: small;
  font-style: italic;
  color: #ffffff80;
  margin-top: 0;
}

.pageContent {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 85%;
}
.gridBox {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  }
  
  .txtLayout {
    grid-area: 1 / 1 / 2 / 3;
    padding: 0 10px 0 0;
  }
  .layoutHeader {
    margin-top: 0;
  }
  .imgLayout { grid-area: 1 / 3 / 2 / 5; }
  .imgMat { grid-area: 2 / 1 / 3 / 3; }
  .txtMat { 
    grid-area: 2 / 3 / 3 / 5;
    padding: 0 10px;
  }
  .txtVurdering {
    grid-area: 3 / 1 / 4 / 3;
    padding: 0 10px 0 0;
  }
  .imgVurdering { grid-area: 3 / 3 / 4 / 5; }
  .prosAndCons { 
    grid-area: 1 / 5 / 4 / 6; 
    background-color: #6200EA;
    margin: 0 0 0 10px;
    padding: 10px;
  }

.images {
  width: 100%;
}
.SokratesBilde {
  width: 300px;

}