.nav-bar {
  background-color: #000;
  width: 100vw;
  display: flex;
  justify-content: center;
  padding: 20px 0;
  position: sticky;
  top: 0;
}
.nav-bar-content {
  width: 85%;
  display: flex;
  height: 100%;
}

.nav-logo {
  width: 100%;
}

.nav-bar-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 75%;
  padding-left: 50px;
}

body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: Arial;
  background-color: #212121;
  color: #fff;
}

.index-img-container {
  overflow: hidden;
  height: 600px;
  position: relative;
}

.index-img {
 display: block;
   width: 100%;
   height: auto;
   position: absolute;
   bottom: 0;
}

.page-description-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.page-description-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 35%;
  border: 2px solid #6200EA;
  border-radius: 20px;
  margin: 20px;
  padding: 20px;
  color: #fff;
  text-decoration: none;
}

.page-description-box:hover {
  background-color: #00000060;
}

.index-info {
  background-image: url("https://foto.oslomet.no/fotoweb/cache/v2/f/H/Folder%2052/Drone-1_0001_Layer%2011.jpg.jyfo26HbMTPbI11jgBkA.UmyKebeblR.jpg");
  height: 400px;
}

.opacity-layer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #00000090;
}

.img-text {
  color: #fff;
}

.link-text {
  font-size: large;
}

a {
  color: #9575CD;
}

.link-text:hover {
  text-decoration: underline;
  cursor: pointer;
}

.img-link {
  display: flex;
  width: 25%;
}

.cite-link {
  font-size: small;
  font-style: italic;
  color: #ffffff80;
  margin-top: 0;
}
.page-content {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 85%;
}
.grid-box {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  }

  .top-left {
    grid-area: 1 / 1 / 2 / 3;
    padding: 0 10px 0 0;
  }
  .layout-header {
    margin-top: 0;
  }
  .top-rigth {
    grid-area: 1 / 3 / 2 / 5;
  }
  .center-left {
    grid-area: 2 / 1 / 3 / 3;
  }
  .center-right { 
    grid-area: 2 / 3 / 3 / 5;
    padding: 0 10px;
  }
  .bottom-left {
    grid-area: 3 / 1 / 4 / 3;
    padding: 0 10px 0 0;
  }
  .bottom-right {
    grid-area: 3 / 3 / 4 / 5;
  }
  .pros-and-cons { 
    grid-area: 1 / 5 / 4 / 6; 
    background-color: #6200EA;
    margin: 0 0 0 10px;
    padding: 10px;
  }

  .img-box {
    height: 250px;
    overflow: hidden;
  }

.images {
  width: 100%;
}

.footer {
  display: flex;
  background-color: #000;
  justify-content: center;
  width: 100%;
}

.footer-content {
  width: 85%;
  display: flex;
  align-self: center;
  padding: 20px 0;
}

.footer-left {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.footer-middle {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-logo {
  height: 40px;
}

.footer-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 30%;
}

.media-link {
  margin-bottom: 10px;
  color: #9575CD;
}

.logo {
  height: 12px;
  padding-right: 5px;
}

.media-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.footer-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.footer-info-text {
  margin: 5px 0;
}

@media only screen and (max-width: 991px){
  .nav-bar-content {
    width: 95%;
  }
  .link-text {
    font-size: xx-small;
  }
  .page-content {
    width: 95%;
  }
  .grid-box {
    display: flex;
    flex-direction: column;
    }
    .top-left {
      display: flex;
      flex-direction: column;
      padding: 0;
      height: auto;
    }
    .top-rigth {
      display: flex;
      flex-direction: column;
    }
    .center-left {
      display: flex;
      flex-direction: column;
    }
    .center-right { 
      display: flex;
      flex-direction: column;
      padding: 0;
      height: auto;
    }
    .bottom-left {
      display: flex;
      flex-direction: column;
      padding: 0;
      height: auto;
    }
    .bottom-right {
      display: flex;
      flex-direction: column;
     }
    .pros-and-cons { 
      display: flex;
      flex-direction: column;
      background-color: #6200EA;
      padding: 0 0 0 2.5%;
      margin: 0 -2.5%;
    }
    .footer-content {
      width: 95%;
    }
    .nav-bar-menu {
      width: 65%;
    }
    .index-img-container {
      height: 150px;
    }
    .page-description-box {
      width: 90%;
    }
}