/* Universell styling */

/* ved å sette style på body får vi Universell bakgrunnsfagre, text farge og font på hele siden  */
body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: Arial;
  background-color: #212121;
  color: #fff;
}

/* setter en spesifik farge på alle linker */
a {
  color: #9575CD;
}

.img-link {
  display: flex;
  width: 25%;
}

.cite-link {
  font-size: small;
  font-style: italic;
  color: #ffffff80;
  margin-top: 0;
}

/* vi ønsker å sentrere innholdet på skjermen da valgte vi 85% */
.page-content {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 85%;
}

/* Unviersal grid style, denne bruker vi på alle siden utenom index
lager en grid som er 5 colonner bred og 3 rader høy, vi valgte 5
colonner siden sidemenyen ikke skulle være like stor som det andre */
.grid-box {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  }

  .top-left {
    grid-area: 1 / 1 / 2 / 3;
    padding: 0 10px 0 0;
  }
  .layout-header {
    margin-top: 0;
  }
  .top-rigth {
    grid-area: 1 / 3 / 2 / 5;
  }
  .center-left {
    grid-area: 2 / 1 / 3 / 3;
  }
  .center-right { 
    grid-area: 2 / 3 / 3 / 5;
    padding: 0 10px;
  }
  .bottom-left {
    grid-area: 3 / 1 / 4 / 3;
    padding: 0 10px 0 0;
  }
  .bottom-right {
    grid-area: 3 / 3 / 4 / 5;
  }
  .pros-and-cons { 
    grid-area: 1 / 5 / 4 / 6; 
    background-color: #6200EA;
    margin: 0 0 0 10px;
    padding: 10px;
  }

  /* setter en*/
  .img-box {
    min-height: 200px;
    overflow: hidden;
  }

  /* Setter en bredde for at bildene ikke skal bruke sin originale størrelse */
  .img-box-img {
    width: 100%; 
  }
  

/* nav bar */

.nav-bar {
  background-color: #000;
  width: 100vw;
  display: flex;
  justify-content: center;
  padding: 20px 0;
  position: sticky;
  top: 0;
  height: 100px;
  z-index: 1; 
  /* siden vi bruker position: relativ for å få kilden til bilet på index siden enkelt nederst til
  venstre med bottom: 0 gjør det at nav-baren vil komme bac opacity-layer, derfor bruker vi z-index: 1 for å unngå dette*/
}
/* vi ønsker å sentrere innholdet på skjermen da valgte vi 85% */
.nav-bar-content {
  width: 85%;
  display: flex;
  height: 100%;
}

.nav-logo {
  height: 100%;
}

.nav-bar-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 50px;
  width: 100%;
}

/* burger-toggle skal ikke synes ettersom vi bruker menu-icon som
det som skal synes, den blir ikke definert før skjermen er mindre enn 991px */
#burger-toggle {
  display: none;
}

/* en container for å kunne sette burger-menyen på enden av nav-bar*/
.nav-bar-menu-container {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

/* Spesifikt for Index Side */

.opacity-layer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #00000090;
}

.index-info {
  background-image: url(../image/Drone-Pilstredet.jpg);
  height: 400px;
  background-size: cover;
}

.index-cite {
  position: absolute;
  justify-self: flex-end;
  bottom: 0
}

.index-img {
 display: block;
   width: 100%;
   height: auto;
   position: absolute;
   bottom: 0;
}

.page-description-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.page-description-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 35%;
  border: 2px solid #6200EA;
  border-radius: 20px;
  margin: 20px;
  padding: 20px;
  color: #fff;
  text-decoration: none;
}

.page-description-box:hover {
  background-color: #00000060;
}

.index-link-text {
  font-size: large;
}

.index-link-text:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* Footer style */
.footer {
  display: flex;
  background-color: #000;
  justify-content: center;
  width: 100%;
}

/* vi ønsker å sentrere innholdet på skjermen da valgte vi 85% */
.footer-content {
  width: 85%;
  display: flex;
  align-self: center;
  padding: 20px 0;
}

.footer-left {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.footer-middle {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-logo {
  height: 40px;
}

.footer-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 30%;
}

.footer-media-link {
  margin-bottom: 10px;
  color: #9575CD;
}

.footer-media-logo {
  height: 12px;
  padding-right: 5px;
}

.footer-media-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.footer-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.footer-info-text {
  margin: 5px 0;
}

/* Definerer nye grenser for skjermer som er mindre enn 991 px */
@media only screen and (max-width: 991px){
  /* på mindre skjermer vil vi beholde mer av skjermen så vi endrer content størrelsen fra 85% av skjerm bredden til 95% */
  .nav-bar-content {
    width: 95%;
  }
  .page-content {
    width: 95%;
  }
  .footer-content {
    width: 95%;
  }
  .page-description-box {
    width: 90%;
  }

  /* for at nav baren ikke skulle bli for stor på mindre skjermet minsker vi høyden en gang til på 600px */
  .nav-bar {
  height: 50px;
  }

  /* Her fjerner vi gridden og gjør alt om til standard flex, med flex direction column.
  Dette er fordi det er mye mer accessible for mindre skjermer som ikke har plass til flere colonner med info i bredden */
  .grid-box {
    display: flex;
    flex-direction: column;
    }
    .top-left {
      display: flex;
      flex-direction: column;
      padding: 0;
      height: auto;
    }
    .top-rigth {
      display: flex;
      flex-direction: column;
    }
    .center-left {
      display: flex;
      flex-direction: column;
    }
    .center-right { 
      display: flex;
      flex-direction: column;
      padding: 0;
      height: auto;
    }
    .bottom-left {
      display: flex;
      flex-direction: column;
      padding: 0;
      height: auto;
    }
    .bottom-right {
      display: flex;
      flex-direction: column;
     }
    .pros-and-cons { 
      display: flex;
      flex-direction: column;
      background-color: #6200EA;
      padding: 0 0 0 2.5%;
      margin: 0 -2.5%; /* Bruker her margin -2.5% for å strekke fargen helt til kanten av skjermen ettersom det ser bedre ut */
    }

    /* iconet som blir satt over burger-toggle label */
    .menu-icon {
      display: block;
      background-image: url(../image/Hamburger_icon.svg);
      background-size: cover;
      height: 40px;
      width: 40px;
    }
    
    /* sentrerer burger-toggle i midten av nav-baren. og endrer cursor så man ser man kan trykke */
    .burger-toggle-container {
      cursor: pointer;
      align-self: center;
    }
    
    /* endrer nav-bar-menu til en mer passende boks for burger-menyen. bruker top 90 ettersom nav-baren under 991px skjerm bredde er 50px,
    med padding på 20px over og under som blir 90px, da vil det se ut som den, ved hjelp av animasjonen blir dratt ned fra van baren */
    .nav-bar-menu {
      display: none;
      flex-direction: column;
      width: auto;
      position: absolute;
      top: 90px;
      background-color: black;
      padding: 10px;
      height: 200px;
      overflow: hidden;
    }

    /* lagt til keyframes for å kontrolere animasjon av åpning av burger-menu*/
    @keyframes menu-open {
      0% {height: 0;}
      200% {height: 100px;}
    }
    
    /* her sier vi at når burger-toggle er checked så skal nav-bar-menu endres */
    #burger-toggle:checked ~ .nav-bar-menu { 
      display: flex;
      animation-duration: 500ms; /* hvor lang tid animasjonen skal bruke fra 0% til 100% */
      animation-name: menu-open; /* Assigner den spesifike KeyFramen */
    }
}

/* Setter en max grense på bredden siden kan bli, denne grensen er matchet med bredden den er når den når 2000px */
@media only screen and (min-width: 2000px){ 
  .nav-bar-content {
    max-width: 1700px;
  }
  .page-content {
    max-width: 1700px;
  }
  .footer-content {
    max-width: 1700px;
  }
}