body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: Arial;
  background-color: #212121;
  color: #fff;
}
.navBar {
  background-color: #000;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px 0;
}
.navBarContent {
  width: 85%;
  display: flex;
  height: 100%;
}

.navLogo {
  width: 100%;
}

.navBarMenu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 75%;
  padding-left: 50px;
}

.linkText {
  font-size: large;
}

a {
  color: #9575CD;
}

.linkText:hover {
  text-decoration: underline;
  cursor: pointer;
}

.imgLink {
  display: flex;
  width: 25%;
}

.citeLink {
  font-size: small;
  font-style: italic;
  color: #ffffff80;
  margin-top: 0;
}
.pageContent {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 85%;
}
.gridBox {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  }

  .txtLayout {
    grid-area: 1 / 1 / 2 / 3;
    padding: 0 10px 0 0;
  }
  .layoutHeader {
    margin-top: 0;
  }
  .imgLayout { grid-area: 1 / 3 / 2 / 5; }
  .imgMat { grid-area: 2 / 1 / 3 / 3; }
  .txtMat { 
    grid-area: 2 / 3 / 3 / 5;
    padding: 0 10px;
  }
  .txtVurdering {
    grid-area: 3 / 1 / 4 / 3;
    padding: 0 10px 0 0;
  }
  .imgVurdering { grid-area: 3 / 3 / 4 / 5; }
  .prosAndCons { 
    grid-area: 1 / 5 / 4 / 6; 
    background-color: #6200EA;
    margin: 0 0 0 10px;
    padding: 10px;
  }
.images {
  width: 100%;
}

.SokratesBilde {
  width: 300px;
}

.footer {
  display: flex;
  background-color: #000;
  justify-content: center;
  width: 100%;
}

.footerContent {
  width: 85%;
  display: flex;
  align-self: center;
  padding: 20px 0;
}

.footerLeft {
  display: flex;
  flex-direction: column;
  width: 20%;
}

.footerMiddle {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footerLogo {
  height: 40px;
}

.footerRight {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 20%;
}

.mediaLink {
  margin-bottom: 10px;
  color: #9575CD;
}

.logo {
  height: 12px;
  padding-right: 5px;
}

.mediaBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.footerInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.footerInfoText {
  margin: 5px 0;
}

@media only screen and (max-width: 991px){
  .navBarContent {
    width: 95%;
  }
  .pageContent {
    width: 95%;
  }
  .gridBox {
    display: flex;
    flex-direction: column;
    }
    .txtLayout {
      display: flex;
      flex-direction: column;
    }
    .imgLayout {
      display: flex;
      flex-direction: column;
    }
    .imgMat {
      display: flex;
      flex-direction: column;
    }
    .txtMat { 
      display: flex;
      flex-direction: column;
    }
    .txtVurdering {
      display: flex;
      flex-direction: column;
    }
    .imgVurdering {
      display: flex;
      flex-direction: column;
     }
    .prosAndCons { 
      display: flex;
      flex-direction: column;
      background-color: #6200EA;
      padding-left: 2.5%;
      margin: 0 -2.5%;
    }
    .footerContent {
      width: 95%;
    }
    .navBarMenu {
      width: 65%;
    }
}